nav {
    position: sticky;
    top: 0em;
    z-index: 7;
    border-radius: var(--roundover) var(--roundover) 0 0;
    background: var(--gris);
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1em;
    margin: 0em;
}

nav ul li {
    list-style: none;
    padding-left: 0em;
    text-align: center;
}